/* / */
/* / */
/* Custom Variables */
/* General Settings */
/* / */
/* / */
* {
  --mint: #44AF69;
  --shadow: #D9D5CF;
  --light-white: #FFF8F0;
  --dark-green: #4E6E58;
  --forrest-green: #233329;
  --darkest-green: #121A15;
  --console-dark: #131722;
  --console-light: #1e2536;
  --gray: #F5EFE7;
}
html {
  background-color: black;
}
body {
  margin: 0;
}

/* / */
/* / */
/* Universal header (nav bar) */
/* / */
/* / */
/* Upon page load, or whenever page is scrolled to the top, the header has no background color, taking on the black of the page background */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: .3s;
}
/* Upon scrolling from top of page, header shrinks slightly and takes on a horizontal background gradient that matches the colors of the info component */
.small {
  height: 60px;
  background: linear-gradient(0.25turn, var(--console-dark), var(--console-light), var(--console-dark), var(--console-dark));
  border-bottom: none;
}
.app-title {
  font-size: 26px;
  color: var(--light-white);
  text-decoration: none;
  margin: 0 0 0 100px;
}
.nav {
  margin: 0 60px 0 0;
}
.nav-link {
  margin: 0 15px 0 15px;
  font-weight: 600;
}
.nav-link:hover {
  color: var(--mint);
}

/* / */
/* / */
/* Universal Footer */
/* / */
/* / */
.footer-container {
  width: 100%;
  height: 200px;
  background-color: var(--console-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume-wrapper {
  padding-top: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.resume-link {
  text-decoration: none;
  color: var(--mint);
  transition: .3s;
}
.resume-link:hover {
  color: white;
}
.socials-wrapper {
  padding-top: 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.social-link {
  min-width: 60px;
  min-height: 60px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgb(157, 157, 157), #fff);
  transition: .3s;
}
.social-link:hover {
  box-shadow: 0 0 10px 10px rgba(169, 169, 169, 0.3);
  background: linear-gradient(0deg, rgb(120, 120, 120), #fff);
}
.social-icon {
  width: 60%;
  height: 60%;
  background: linear-gradient(0deg, rgb(193, 193, 193), #ddd);
  line-height: calc(60px - 12px);
  color: #262626;
  transition: .5s;
}
.github:hover {
  color: var(--mint);
}
.linkedin:hover {
  color: #007bb6;
}
.email:hover {
  color: #ef6c00;
}
.copyright {
  padding-top: 10px;
  color: white;
}

/* / */
/* / */
/* Landing Page */
/* / */
/* / */

/* / */
/* / */
/* Component containers and wrappers */
/* / */
/* / */
/* Organizes page section into a single flex column */
.landing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Hero component is the height of the viewport, containing a welcome heading with a video as background */
.hero-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
/* Info container positions the component below the hero component and provides a dark background for the content to sit on top of */
.info-container {
  background-color: var(--console-dark);
  position: absolute;
  margin-top: 100vh;
  width: 100%;
  z-index: 500;
}
/* Welcome wrapper aligns the page's welcome heading and provides a dark, opaque gradient to lay over the background video */
.welcome-wrapper {
  width: 100%;
  height: 100%;
  z-index: 500;
  padding: 100px 0 0 25%;
  background: linear-gradient(0.25turn, #000000, #000000c0, #00000092, #00000035, #00000000);
  text-align: left;
  font-size: 60px;
  color: white;
  position: absolute;
}
/* The welcome wrapper will hide the welcome contents when the video is finsihed playing, showing a clear display of the chart's still image */
.welcome-wrapper-poster {
  visibility: hidden;
}
/* Info wrapper sets the maximum width for the content, aligns the content in a flex column, and provides the content with a lighter background */
.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--console-light);
  padding-bottom: 100px;
}
/* Backtest wrapper provides a seamless background color that matches the console in the image */
.backtest-wrapper {
  width: 100%;
  background-color: var(--console-dark);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0px 5px 40px var(--console-dark);
}

/* / */
/* / */
/* Hero component */
/* / */
/* / */
.media-wrapper {
  width: 100%;

}
.video-display {
  width: 100%;
  position: absolute;
  left: 0;
  padding-top: 80px;
  max-height: 90vh;
}
.video-hide {
  display: none;
}
.image-hide {
  display: none;
}
.image-display {
  position: absolute;
  bottom: 0;
  margin-top: 80px;
  height: 90vh;
  max-width: 100vw;
  display: block;
}
.welcome-header {
  font-size: 50px;
  margin: 0;
}
.highlight-text {
  font-size: 60px;
  color: var(--mint);
}
.welcome-subheader {
  margin: 0;
  padding-left: 20px;
  font-size: 36px;
  color: white;
}
.welcome-description {
  font-size: 18px;
  color: white;
}

/* / */
/* / */
/* Info component */
/* / */
/* / */
.backtest-results {
  width: 100%;
  max-width: 900px;
}
.description-paragraph {
  width: 100%;
  max-width: 800px;
  color: white;
  text-align: left;
}
.name-highlight {
  font-size: 60px;
  color: var(--mint);
}