/* / */
/* / */
/* Custom Variables */
/* General Settings */
/* / */
/* / */
* {
  --mint: #44AF69;
  --shadow: #D9D5CF;
  --light-white: #FFF8F0;
  --dark-green: #4E6E58;
  --forrest-green: #233329;
  --darkest-green: #121A15;
  --console-dark: #131722;
  --console-light: #1e2536;
  --gray: #F5EFE7;
  --white: #F7FFF7;
}
html {
  background-color: black;
}
body {
  margin: 0;
  color: var(--white);
}

/* / */
/* / */
/* Universal header (nav bar) */
/* / */
/* / */
/* Upon page load, or whenever page is scrolled to the top, the header has no background color, taking on the black of the page background */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: .9s;
  padding-top: 70px;
}
.title-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 200px;
}
.welcome-show {
  font-size: 22px;
  color: var(--white);
  width: 400px;
}
/* .bot-title-hide {
  display: none;
} */
.welcome-hide {
  display: none;
}
.bot-title-show {
  font-size: 28px;
  color: var(--white);
  margin: 0;
}
.highlight-title {
  font-size: 50px;
  color: var(--mint);
}
/* Upon scrolling from top of page, header shrinks slightly and takes on a horizontal background gradient that matches the colors of the info component */
.small {
  height: 60px;
  background: linear-gradient(0.25turn, var(--console-dark), var(--console-light), var(--console-dark), var(--console-dark));
  padding-top: 0px;
}


/* / */
/* / */
/* Universal Footer */
/* / */
/* / */
.footer-container {
  width: 100%;
  height: 200px;
  background-color: var(--console-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume-wrapper {
  padding-top: 30px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.resume-link {
  text-decoration: none;
  color: var(--mint);
  transition: .3s;
}
.resume-link:hover {
  color: white;
}
.socials-wrapper {
  padding-top: 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.social-link {
  min-width: 60px;
  min-height: 60px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgb(157, 157, 157), #fff);
  transition: .3s;
}
.social-link:hover {
  box-shadow: 0 0 10px 10px rgba(169, 169, 169, 0.3);
  background: linear-gradient(0deg, rgb(120, 120, 120), #fff);
}
.social-icon {
  width: 60%;
  height: 60%;
  background: linear-gradient(0deg, rgb(193, 193, 193), #ddd);
  line-height: calc(60px - 12px);
  color: #262626;
  transition: .5s;
}
.github {
  border-radius: 50%;
}
.github:hover {
  color: var(--mint);
}
.linkedin:hover {
  color: #007bb6;
}
.email:hover {
  color: #ef6c00;
}
.copyright {
  padding-top: 10px;
  color: white;
}

/* / */
/* / */
/* Landing Page */
/* / */
/* / */

/* / */
/* / */
/* Component containers and wrappers */
/* / */
/* / */
/* Organizes page section into a single flex column */
.landing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Hero component is the height of the viewport, containing a welcome heading with a video as background */
.hero-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
/* Hero wrapper provides a dark, opaque gradient to lay over the background video */
.hero-wrapper-show {
  min-width: 100vw;
  min-height: 100vh;
  z-index: 900;
  background: linear-gradient(0.25turn, #000000, #000000b2, #00000055, #00000035, #00000000);
  position: absolute;
  display: block;
}
/* Hero wrapper will remove the dark gradient overlay when video is finished playing, showing a clear display of the chart's still image */
.hero-wrapper-hide {
  background: #00000000;
}
/* Info container positions the component below the hero component and provides a dark background for the content to sit on top of */
.info-container {
  background-color: var(--console-dark);
  position: absolute;
  margin-top: 100vh;
  width: 100%;
  z-index: 900;
}
/* Info wrapper sets the maximum width for the content, aligns the content in a flex column, and provides the content with a lighter background */
.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--console-light);
  box-shadow: 0px 5px 80px var(--console-light);
  padding-bottom: 100px;
}
/* Backtest wrapper provides a seamless background color that matches the console in the image */
.backtest-wrapper {
  width: 100%;
  background-color: var(--console-dark);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 40px;
}

/* / */
/* / */
/* Hero component */
/* / */
/* / */
.hero-wrapper-show {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
}
.hero-wrapper-hide {
  display: none;
}
.subheader-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 200px;
}
.welcome-subheader {
  margin: 140px 0 0 40px;
  font-size: 16px;
  line-height: 150%;
}
.video-show {
  width: 100vw;
}
.video-hide {
  display: none;
}
.image-hide {
  display: none;
}
.image-show {
  width: 100vw;
  display: block;
}

/* / */
/* / */
/* Info component */
/* / */
/* / */
.backtest-results {
  width: 100%;
  max-width: 900px;
}
.custom-header {
  font-size: 60px;
}
.name-highlight {
  font-size: 60px;
  color: var(--mint);
}
.description-paragraph {
  width: 100%;
  max-width: 800px;
  color: white;
  text-align: left;
  line-height: 150%;
}