/* / */
/* / */
/* / */
/* / Large screens */
/* / */
/* / */
/* / */
@media screen and (min-width: 1500px) {
    .title-wrapper {
        padding-left: 5%;
    }
    .subheader-wrapper {
        padding-left: 10%;
    }
}
@media screen and (min-width: 1600px) {
    .title-wrapper {
        padding-left: 0;
    }
    .subheader-wrapper {
        padding-left: 50px;
    }
}
/* / */
/* / */
/* / */
/* / Small screens */
/* / */
/* / */
/* / */
@media screen and (max-width: 1200px) {
    .title-wrapper {
        padding-left: 15%;
    }
    .bot-title-show {
        font-size: 24px;
    }
    .highlight-title {
        font-size: 40px;
    }
    .subheader-wrapper {
        padding-left: 15%;
    }
}
@media screen and (max-width: 1000px) {
    .info-wrapper {
        width: 100%;
    }
    .description-paragraph {
        width: 80%;
    }
}
@media screen and (max-width: 900px) {
    .small {
        height: 50px;
    }
    .bot-title-show {
        font-size: 20px;
    }
    .highlight-title {
        font-size: 32px;
    }
}
@media screen and (max-width: 800px) {
    .name-highlight {
        font-size: 50px;
    }
    .custom-header {
        font-size: 50px;
    }
    .description-paragraph {
        width: 90%;
    }
}
@media screen and (max-width: 650px) {
    .small {
        height: 40px;
    }
    .title-wrapper {
        padding-left: 10%;
    }
    .highlight-title {
        font-size: 26px;
    }
    .subheader-wrapper {
        padding-left: 10%;
    }
    .welcome-subheader {
        margin: 130px 0 0 30px;
        font-size: 14px;
    }
    .name-highlight {
        font-size: 40px;
    }
    .custom-header {
        font-size: 40px;
    }
}
@media screen and (max-width: 500px) {
    .name-highlight {
        font-size: 34px;
    }
    .custom-header {
        font-size: 34px;
    }
}
@media screen and (max-width: 450px) {
    .bot-title-show {
        font-size: 16px;
    }
    .highlight-title {
        font-size: 22px;
    }
    .info-wrapper {
        padding-bottom: 50px;
    }
    .backtest-wrapper {
        margin-bottom: 20px;
    }
    .footer-container {
        padding-bottom: 20px;
    }
    .copyright {
        width: 300px;
        text-align: center;
    }
}
@media screen and (max-width: 400px) {
    .subheader-wrapper {
        padding-left: 50px;
    }
    .welcome-subheader {
        margin: 130px 0 0 0;
    }
    .socials-wrapper {
        width: 250px;
    }
    .name-highlight {
        font-size: 28px;
    }
    .custom-header {
        font-size: 28px;
    }
}
@media screen and (max-width: 350px) {
    .welcome-subheader {
        font-size: 12px;
    }
    .subheader-wrapper {
        padding-left: 30px;
    }
}


/* / */
/* / */
/* / */
/* // Abnormal Heights */
/* / */
/* / */
/* / */
@media screen and (max-height: 450px) {
    .header {
        padding-top: 20px;
    }
    .welcome-subheader {
        margin-top: 90px;
        margin-left: 60px;
    }
}
@media screen and (max-height: 350px) and (min-width: 1200px) {
    .bot-title-show {
        font-size: 24px;
    }
    .highlight-title {
        font-size: 40px;
    }
}
@media screen and (max-height: 250px) and (min-width: 1200px) {
    .header {
        padding-top: 0;
    }
    .title-wrapper {
        padding-left: 150px;
    }
    .bot-title-show {
        font-size: 20px;
    }
    .highlight-title {
        font-size: 34px;
    }
    .welcome-subheader {
        margin-top: 60px;
        margin-left: 30px;
    }
}


/* / */
/* / */
/* / */
/* / Tall but Slender */
/* / */
/* / */
/* / */
@media screen and (min-height: 650px) and (max-width: 950px) {
    .hero-container {
        min-height: 80vh;
    }
    .hero-wrapper-show {
        min-height: 80vh;
    }
    .image-show {
        height: 80vh;
    }
    .info-container {
        margin-top: 80vh;
    }
}
@media screen and (min-height: 750px) and (max-width: 950px) {
    .hero-container {
        min-height: 70vh;
    }
    .hero-wrapper-show {
        min-height: 70vh;
    }
    .image-show {
        height: 70vh;
    }
    .info-container {
        margin-top: 70vh;
    }
}
@media screen and (min-height: 750px) and (max-width: 700px) {
    .hero-container {
        min-height: 60vh;
    }
    .hero-wrapper-show {
        min-height: 60vh;
    }
    .image-show {
        height: 60vh;
    }
    .info-container {
        margin-top: 60vh;
    }
}
@media screen and (min-height: 450px) and (max-width: 800px) {
    .hero-container {
        min-height: 80vh;
    }
    .hero-wrapper-show {
        min-height: 80vh;
    }
    .video-show {
        height: 80vh;
    }
    .image-show {
        height: 80vh;
    }
    .info-container {
        margin-top: 80vh;
    }
}
@media screen and (min-height: 550px) and (max-width: 800px) {
    .hero-container {
        min-height: 60vh;
    }
    .hero-wrapper-show {
        min-height: 60vh;
    }
    .video-show {
        height: 60vh;
    }
    .header {
        padding-top: 40px;
    }
    .small {
        padding-top: 0px;
    }
    .welcome-subheader {
        margin-top: 100px;
        margin-left: 20px;
    }
    .image-show {
        height: 60vh;
    }
    .info-container {
        margin-top: 60vh;
    }
}
@media screen and (min-height: 700px) and (max-width: 800px) {
    .hero-container {
        min-height: 50vh;
    }
    .hero-wrapper-show {
        min-height: 50vh;
    }
    .video-show {
        height: 50vh;
    }
    .image-show {
        height: 50vh;
    }
    .info-container {
        margin-top: 50vh;
    }
}
@media screen and (min-height: 900px) and (max-width: 800px) {
    .hero-container {
        min-height: 40vh;
    }
    .hero-wrapper-show {
        min-height: 40vh;
    }

    .image-show {
        height: 40vh;
    }
    .info-container {
        margin-top: 40vh;
    }
}

/* / */
/* / */
/* / */
/* / Short but Wide */
/* / */
/* / */
/* / */
@media screen and (max-height: 650px) and (min-width: 800px) {
    .header {
        padding-top: 40px;
    }
    .small {
        padding-top: 0;
    }
    .title-wrapper {
        padding-left: 0;
    }
    .subheader-wrapper {
        padding-left: 120px;
    }
    .welcome-subheader {
        margin-top: 110px;
        margin-left: 0;
    }
}