@media screen and (max-width: 1200px) {
    .title-wrapper {
        padding-left: 15%;
    }
    .bot-title-show {
        font-size: 24px;
    }
    .highlight-title {
        font-size: 40px;
    }
}
@media screen and (max-width: 900px) {
    .small {
        height: 50px;
    }
    .bot-title-show {
        font-size: 20px;
    }
    .highlight-title {
        font-size: 32px;
    }
}
@media screen and (max-width: 650px) {
    .small {
        height: 40px;
    }
    .title-wrapper {
        padding-left: 10%;
    }
    .highlight-title {
        font-size: 26px;
    }
}
@media screen and (max-width: 450px) {
    .bot-title-show {
        font-size: 16px;
    }
    .highlight-title {
        font-size: 22px;
    }
    .footer-container {
        padding-bottom: 20px;
    }
    .copyright {
        width: 300px;
        text-align: center;
    }
}
@media screen and (max-width: 400px) {
    .socials-wrapper {
        width: 250px;
    }
}

